[Desktop Entry]
Type=Application
Name=ClipLedge
Exec=clipledge --background
Icon=org.clipledge.ClipLedge
Terminal=false
X-GNOME-Autostart-enabled=true
